---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/account_balances/btc/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth:
      - BITSTAMP SOPfNtFNYOihvPwmq3Eu7DxLdYcXh0RO
      X-Auth-Nonce:
      - c781c0f3-0e37-4d4e-b61d-0ecdf0ec6293
      X-Auth-Timestamp:
      - '1710525634048'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 1C9EB6CC018A34196631E425CC12236AF13CB4287C3C03E39C8172CC3408CABC
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - f42524628155424c19affdfa8c75c25b8a8e0a3309bb268a2e9fac599aab0a24
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-65f48cc2-072fd0bd73cae5766842e579
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 12-167948567-167940878 PNNy RT(1710525634076 16) q(0 0 0 -1) r(1 1) U6
    body:
      encoding: ASCII-8BIT
      string: '{"currency": "btc", "total": "0.00178734", "available": "0.00128734",
        "reserved": "0.00050000"}'
  recorded_at: Fri, 15 Mar 2024 18:00:34 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/account_balances/usd/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth:
      - BITSTAMP SOPfNtFNYOihvPwmq3Eu7DxLdYcXh0RO
      X-Auth-Nonce:
      - 63f1a650-6c0d-4af7-a428-5af11431e5cd
      X-Auth-Timestamp:
      - '1710525634137'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 96D20C6C254C63DA96F87E5F1F3A6FB8F56D352B363290DF31979271281F8A00
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - 01aaf88a445f82709e131839216d27b2a7833d08a14d28d734b9f9e046d40336
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-65f48cc2-40c54b261fb21e4301168a45
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 14-191225115-191211690 PNNy RT(1710525634141 22) q(0 0 0 -1) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '{"currency": "usd", "total": "67.90", "available": "42.82", "reserved":
        "25.08"}'
  recorded_at: Fri, 15 Mar 2024 18:00:34 GMT
recorded_with: VCR 6.2.0
