---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/balance/btcusd/
    body:
      encoding: US-ASCII
      string: key=E97GgzMutwnkBIHWVaKz2bPNiSL6XBT3&nonce=159963815169&signature=B2ECFD427962D2A1CE14C2A2F1C593DB8E01D9F898403B412A19B188B7EF8498
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 09 Sep 2020 07:55:52 GMT
      Content-Language:
      - en
      X-Bts-Trace-Id:
      - Root=1-5f588a88-3641f4491f5defe7d9f1b087
      X-Cdn:
      - Incapsula
      X-Iinfo:
      - 6-4086086-4078271 PNNy RT(1599638152212 17) q(0 0 0 -1) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '{"btc_available": "0.00000000", "btc_balance": "0.00000000", "btc_reserved":
        "0.00000000", "fee": 0.500, "usd_available": "0.05", "usd_balance": "0.05",
        "usd_reserved": "0.00"}'
  recorded_at: Wed, 09 Sep 2020 07:55:52 GMT
recorded_with: VCR 6.0.0
