---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/balance/btcusd/
    body:
      encoding: US-ASCII
      string: key=3nJKF5X1wm0kb9xxoicWt9wCegji1DiC&nonce=1487004714&signature=1060781A15D433BAF9975A301F09DF44346322C56B5811C58F5FB388435B9D3E
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 13 Feb 2017 16:51:55 GMT
      X-Iinfo:
      - 5-4785180-4715039 PNNN RT(1487004714685 45) q(0 0 0 0) r(0 0) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"btc_reserved": "0.02000000", "fee": 0.2500, "btc_available": "0.00500000",
        "usd_reserved": "19.05", "btc_balance": "0.02500000", "usd_balance": "24.93",
        "usd_available": "5.88"}'
  recorded_at: Mon, 13 Feb 2017 16:51:55 GMT
recorded_with: VCR 3.0.3
