---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/balance/btcusd/
    body:
      encoding: US-ASCII
      string: key=ha2aWXsDEYoaH5ZRRbAAL57s2HUZsHZ3&nonce=163775950422&signature=15E152575C8A764C31B9714D901532970709010A3A44778EC1BE09A8841D98A5
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 24 Nov 2021 13:11:45 GMT
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-619e3a11-269ff95834ece19e4969458b
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 12-77317495-77308953 PNNy RT(1637759505163 40) q(0 0 0 -1) r(1 1) U6
    body:
      encoding: ASCII-8BIT
      string: '{"btc_available": "0.00453000", "btc_balance": "0.00503000", "btc_reserved":
        "0.00050000", "fee": 0.500, "usd_available": "0.93", "usd_balance": "28.57",
        "usd_reserved": "27.64"}'
  recorded_at: Wed, 24 Nov 2021 13:11:45 GMT
recorded_with: VCR 6.0.0
