---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/balance/btcusd/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth:
      - BITSTAMP H3iK98mcBMSax81GvdpZEIrLHneYODQK
      X-Auth-Nonce:
      - 96e9d9a3-15f1-4ca5-8db3-9cc3bcbab0dc
      X-Auth-Timestamp:
      - '1658835425784'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 679F4D9F5E655B56B3632779A49E7B2A5AC023AE0D76A6167C4D770C4373E78A
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - 49beca048275c80d766110822f12fd51dd748b60e9e73a0a84a8346605150ab4
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-62dfd1e1-330b355b6b2e28111a595e32
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 8-15377579-15376265 PNNy RT(1658835425094 32) q(0 0 0 0) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '{"btc_available": "0.00031778", "btc_balance": "0.00131778", "btc_reserved":
        "0.00100000", "fee": 0.500, "usd_available": "8.17", "usd_balance": "29.27",
        "usd_reserved": "21.10"}'
  recorded_at: Tue, 26 Jul 2022 11:37:05 GMT
recorded_with: VCR 6.1.0
