---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/buy/btcusd/
    body:
      encoding: US-ASCII
      string: amount=0.0005&price=23000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Auth:
      - BITSTAMP H3iK98mcBMSax81GvdpZEIrLHneYODQK
      X-Auth-Nonce:
      - d4c70f68-b36d-4567-b754-a079761df1fd
      X-Auth-Timestamp:
      - '1658495383681'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - EBAFF1389D52770BDD2309039BEA03A438EE12E19DC7A928A407B90198F14E04
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - 239c14e019d69fdf59d1983c6cb3212b501d0a8f5c3b2b390f443e44f6c2b7c0
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-62daa197-62b2b1346267578677c3b667
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-34419472-34312717 PNNN RT(1658495382979 41) q(0 0 0 -1) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '{"price": "23000.00", "amount": "0.00050000", "type": "0", "id": "1514129036304385",
        "datetime": "2022-07-22 13:09:43.912000"}'
  recorded_at: Fri, 22 Jul 2022 13:09:43 GMT
recorded_with: VCR 6.1.0
