---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/buy/btcusd/
    body:
      encoding: US-ASCII
      string: amount=0.0005&price=53000&key=ha2aWXsDEYoaH5ZRRbAAL57s2HUZsHZ3&nonce=163794229113&signature=0F2C6D9597BF961DD15C13534FAC42C93310F2AEA42E562C21641E39EE71FDE0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 26 Nov 2021 15:58:12 GMT
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-61a10414-66491da15523f08a7d30741a
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 6-73750300-73735249 PNNy RT(1637942291801 32) q(0 0 0 0) r(1 1) U6
    body:
      encoding: ASCII-8BIT
      string: '{"price": "53000.00", "amount": "0.00050000", "type": "0", "id": "1429943573118981",
        "datetime": "2021-11-26 15:58:12.314000"}'
  recorded_at: Fri, 26 Nov 2021 15:58:12 GMT
recorded_with: VCR 6.0.0
