---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/buy/btcusd/
    body:
      encoding: US-ASCII
      string: amount=0.02&price=950&key=3nJKF5X1wm0kb9xxoicWt9wCegji1DiC&nonce=1487018606&signature=2BBE020EE9479A29AC93E0048F51553F05E15BB2EAE989E55C636FEB9096CE08
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 13 Feb 2017 20:43:27 GMT
      X-Iinfo:
      - 9-8785078-8370568 PNNN RT(1487018606453 45) q(0 0 0 -1) r(1 1) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": "950.00", "amount": "0.02000000", "type": "0", "id": "185941655",
        "datetime": "2017-02-13 20:43:27.236835"}'
  recorded_at: Mon, 13 Feb 2017 20:43:27 GMT
recorded_with: VCR 3.0.3
