---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/buy/btcusd/
    body:
      encoding: US-ASCII
      string: amount=0.0005&price=50000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Auth:
      - BITSTAMP hpDlsj3dfcsZ2tEzhC1V95GCVJzZP0iJ
      X-Auth-Nonce:
      - 2221fa85-3d01-43a9-96b5-1ca224fd593c
      X-Auth-Timestamp:
      - '1710773854638'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 852C848C383580736C6B1EA8CFCA9AC65C769B3A7871E59B5291B5BAC7B04151
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - cc1c1df7caa96e49fc834ac640e1127b6cb1e248da450ca6517d5d9fa7b87d15
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-65f8565e-5491d871415bd7e137d45fa8
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 11-187544974-187542209 PNNN RT(1710773854675 17) q(0 0 0 -1) r(1 1) U6
    body:
      encoding: ASCII-8BIT
      string: '{"id": "1728261652815877", "market": "BTC/USD", "datetime": "2024-03-18
        14:57:34.740000", "type": "0", "amount": "0.00050000", "price": "50000"}'
  recorded_at: Mon, 18 Mar 2024 14:57:34 GMT
recorded_with: VCR 6.2.0
