---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/btcusd/
    body:
      encoding: US-ASCII
      string: key=ha2aWXsDEYoaH5ZRRbAAL57s2HUZsHZ3&nonce=163794428101&signature=3244F317479BAD19F81A70C4A65B26D3BC8FB9D306AA65F36B2B2F9A1D857A32
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 26 Nov 2021 16:31:22 GMT
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-61a10bda-73e59ae827cc2f193af05d16
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 5-111382802-111381832 PNNN RT(1637944281444 30) q(0 0 0 0) r(1 1) U6
    body:
      encoding: ASCII-8BIT
      string: '[{"price": "55000.00", "amount": "0.00050000", "type": "1", "id": "1429943656153088",
        "datetime": "2021-11-26 15:58:32"}, {"price": "53000.00", "amount": "0.00050000",
        "type": "0", "id": "1429943573118981", "datetime": "2021-11-26 15:58:12"}]'
  recorded_at: Fri, 26 Nov 2021 16:31:22 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/cancel_order/
    body:
      encoding: US-ASCII
      string: id=1429943573118981&key=ha2aWXsDEYoaH5ZRRbAAL57s2HUZsHZ3&nonce=163794428217&signature=931E6AEF86AAEE9973460634DFC1CBC3BD30A1C03F2B5D7BE7A6BE752C6F0C7C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 26 Nov 2021 16:31:23 GMT
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-61a10bdb-7715681c308eb71975bcd8f0
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 4-80083845-80083854 NNNN CT(20 20 0) RT(1637944282826 31) q(0 0 0 0) r(1 1)
        U6
    body:
      encoding: ASCII-8BIT
      string: '{"price": 53000, "amount": 0.0005, "type": 0, "id": 1429943573118981}'
  recorded_at: Fri, 26 Nov 2021 16:31:23 GMT
[...]
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/cancel_order/
    body:
      encoding: US-ASCII
      string: id=1429943656153088&key=ha2aWXsDEYoaH5ZRRbAAL57s2HUZsHZ3&nonce=163794428450&signature=805394B28F9006D19C3818B247ADED09226771D2E4568C73C9F598AE8223E21B
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 26 Nov 2021 16:31:25 GMT
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-61a10bdd-34d8df7e1af66a6660d0031c
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 2-52176887-52176891 NNNN CT(20 21 0) RT(1637944284909 27) q(0 0 0 -1) r(1
        1) U6
    body:
      encoding: ASCII-8BIT
      string: '{"price": 55000, "amount": 0.0005, "type": 1, "id": 1429943656153088}'
  recorded_at: Fri, 26 Nov 2021 16:31:25 GMT
recorded_with: VCR 6.0.0
