---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/btcusd/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth:
      - BITSTAMP H3iK98mcBMSax81GvdpZEIrLHneYODQK
      X-Auth-Nonce:
      - f2b7ff72-7e67-4f10-8950-89f9b5f8fdfa
      X-Auth-Timestamp:
      - '1658497638199'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 0AF1BD09311CB1786CDCEFF73996F494F386F5BE90C0CC571BE542AA937CEE4D
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - 97000ccad2692d9d4bbfc9cb03315b38131feb85d87cbde14ff57380d06540db
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-62daaa66-08d65627044c2ac0073abf5b
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 12-27326020-27321940 PNNy RT(1658497637499 30) q(0 0 0 0) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '[{"price": "24000.00", "datetime": "2022-07-22 13:12:37", "amount":
        "0.00050000", "amount_at_create": "0.00050000", "type": "1", "id": "1514129748602880"},
        {"price": "23000.00", "datetime": "2022-07-22 13:09:43", "amount": "0.00050000",
        "amount_at_create": "0.00050000", "type": "0", "id": "1514129036304385"}]'
  recorded_at: Fri, 22 Jul 2022 13:47:18 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/cancel_order/
    body:
      encoding: US-ASCII
      string: id=1514129748602880
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Auth:
      - BITSTAMP H3iK98mcBMSax81GvdpZEIrLHneYODQK
      X-Auth-Nonce:
      - 2d669ab0-11c7-4833-9e65-4588795c4d96
      X-Auth-Timestamp:
      - '1658497638360'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 605ECE78E02CB5F561CDEDCF5E62286D0526F88A9E59FC8449A2847FDC0B9F53
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - c4480effb3e3163d2b5cbc53a3868d30d3bd959886aeae0d2f26fe4ed4e614ff
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-62daaa66-1fda6acb237be1ca1702deca
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 10-14605349-14602980 PNNy RT(1658497637607 30) q(0 0 0 -1) r(1 1) U6
    body:
      encoding: ASCII-8BIT
      string: '{"price": 24000, "amount": 0.0005, "type": 1, "id": 1514129748602880}'
  recorded_at: Fri, 22 Jul 2022 13:47:18 GMT
[...]
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/cancel_order/
    body:
      encoding: US-ASCII
      string: id=1514129036304385
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Auth:
      - BITSTAMP H3iK98mcBMSax81GvdpZEIrLHneYODQK
      X-Auth-Nonce:
      - cf81d570-2e44-42a4-85a9-365fc3dbd167
      X-Auth-Timestamp:
      - '1658497638614'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 48542BA42FF3519423221A88A991EAD3AF1D2197EBE01C8CEDD4CE92F0674CCB
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - 7c91446820dcc3e14fd76d8dd357a293ccf2cd4a75ef2dd0abd611c0703c73f1
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-62daaa66-215e7b19494ca08c1a60fb5f
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 12-27326129-27321787 PNNy RT(1658497637864 30) q(0 0 0 -1) r(1 1) U6
    body:
      encoding: ASCII-8BIT
      string: '{"price": 23000, "amount": 0.0005, "type": 0, "id": 1514129036304385}'
  recorded_at: Fri, 22 Jul 2022 13:47:18 GMT
recorded_with: VCR 6.1.0
