---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/btcusd/
    body:
      encoding: US-ASCII
      string: key=3nJKF5X1wm0kb9xxoicWt9wCegji1DiC&nonce=1487017935&signature=C8B65F38B8649867B78D9A5F17EE33E8576E63AFFD0AB791F113A2EA1EFE4216
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 13 Feb 2017 20:32:16 GMT
      X-Iinfo:
      - 4-6096118-6088421 PNNN RT(1487017935561 82) q(0 0 0 0) r(0 0) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"price": "1025.00", "amount": "0.02000000", "type": "1", "id": "185891916",
        "datetime": "2017-02-13 16:50:05"}, {"price": "950.00", "amount": "0.02000000",
        "type": "0", "id": "185891873", "datetime": "2017-02-13 16:49:44"}]'
  recorded_at: Mon, 13 Feb 2017 20:32:16 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/cancel_order/
    body:
      encoding: US-ASCII
      string: id=185891916&key=3nJKF5X1wm0kb9xxoicWt9wCegji1DiC&nonce=1487017936&signature=5D041DEA2CB2E63C649BAB61EC1A726C4A069EA28A0BE1FC7CE04E569878784A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 13 Feb 2017 20:32:17 GMT
      X-Iinfo:
      - 3-4981737-4955603 PNNN RT(1487017936725 40) q(0 0 0 0) r(1 1) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": 1025.00000000, "amount": 0.02000000, "type": 1, "id": 185891916}'
  recorded_at: Mon, 13 Feb 2017 20:32:17 GMT
[...]
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/cancel_order/
    body:
      encoding: US-ASCII
      string: id=185891873&key=3nJKF5X1wm0kb9xxoicWt9wCegji1DiC&nonce=1487017938&signature=340163F5EEB27F22BE548C658FCA9B521AB1ABE710B28676F67A9D7B10DFEE74
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 13 Feb 2017 20:32:19 GMT
      X-Iinfo:
      - 10-8981314-8923883 PNNN RT(1487017938998 56) q(0 0 0 0) r(1 1) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": 950.00000000, "amount": 0.02000000, "type": 0, "id": 185891873}'
  recorded_at: Mon, 13 Feb 2017 20:32:19 GMT
recorded_with: VCR 3.0.3
