---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth:
      - BITSTAMP hpDlsj3dfcsZ2tEzhC1V95GCVJzZP0iJ
      X-Auth-Nonce:
      - 12027e11-211b-4b77-94db-c74175bcada1
      X-Auth-Timestamp:
      - '1710775760339'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 7BBBA3CF793A37884A7BB9E4D7C7DF15F7BB7FBFC05029517B0BF19A8FCA9488
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - e7d536c2668baf74f5039a9709c33902ce405957b7cae05e813c1ca85fe107a1
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-65f85dd0-492bb7bd4883b8d877ea03f4
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 11-187872368-187868125 PNNN RT(1710775760377 17) q(0 0 0 -1) r(1 1) U6
    body:
      encoding: ASCII-8BIT
      string: '[{"id": "1728262007779328", "datetime": "2024-03-18 14:59:01", "type":
        "1", "price": "80000", "amount": "0.00050000", "amount_at_create": "0.00050000",
        "currency_pair": "BTC/USD", "market": "BTC/USD"}, {"id": "1728261652815877",
        "datetime": "2024-03-18 14:57:34", "type": "0", "price": "50000", "amount":
        "0.00050000", "amount_at_create": "0.00050000", "currency_pair": "BTC/USD",
        "market": "BTC/USD"}]'
  recorded_at: Mon, 18 Mar 2024 15:29:20 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/cancel_order/
    body:
      encoding: US-ASCII
      string: id=1728262007779328
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Auth:
      - BITSTAMP hpDlsj3dfcsZ2tEzhC1V95GCVJzZP0iJ
      X-Auth-Nonce:
      - 96781e43-0e15-4d20-b966-f4efb9466783
      X-Auth-Timestamp:
      - '1710775760433'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 6210D61D1E9493C235F09CDF64E4190059CCDB416D84C7D2E519E9320BF654D4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - '026429af95dad5c158b57b20ea2457048b1dc1c68f5ee923edee9785de785873'
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-65f85dd0-458262b449b163464596832c
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 5-65909399-65902209 PNNy RT(1710775760437 16) q(0 0 0 -1) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '{"id": 1728262007779328, "amount": 0.0005, "price": 80000, "type":
        1}'
  recorded_at: Mon, 18 Mar 2024 15:29:20 GMT
[...]
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/cancel_order/
    body:
      encoding: US-ASCII
      string: id=1728261652815877
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Auth:
      - BITSTAMP hpDlsj3dfcsZ2tEzhC1V95GCVJzZP0iJ
      X-Auth-Nonce:
      - dbe6ca4f-1886-4c8f-89fc-299d495cb270
      X-Auth-Timestamp:
      - '1710775760556'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 107F34ACA5E2B07EC209D4B327DB76659BFFB47C61060523AEAD64093FEF7501
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - 229bbca784490432e5d24176e23e351929f329312a56b97b9f7c1dd05968c7e6
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-65f85dd0-6b6842411338a5b12b295d99
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 7-106335779-106331767 PNNN RT(1710775760561 18) q(0 0 0 -1) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '{"id": 1728261652815877, "amount": 0.0005, "price": 50000, "type":
        0}'
  recorded_at: Mon, 18 Mar 2024 15:29:20 GMT
recorded_with: VCR 6.2.0
