---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/btcusd/
    body:
      encoding: US-ASCII
      string: key=ha2aWXsDEYoaH5ZRRbAAL57s2HUZsHZ3&nonce=163794409957&signature=DACCF8F245F4A184EEF5F545C65D9991E354C9771BF57F29A1A469F6B865E9ED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 26 Nov 2021 16:28:20 GMT
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-61a10b24-01dea58e44296a5250907392
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 0-21354221-21350432 PNNy RT(1637944100045 32) q(0 0 0 0) r(1 1) U6
    body:
      encoding: ASCII-8BIT
      string: '[{"price": "55000.00", "amount": "0.00050000", "type": "1", "id": "1429943656153088",
        "datetime": "2021-11-26 15:58:32"}, {"price": "53000.00", "amount": "0.00050000",
        "type": "0", "id": "1429943573118981", "datetime": "2021-11-26 15:58:12"}]'
  recorded_at: Fri, 26 Nov 2021 16:28:20 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/order_status/
    body:
      encoding: US-ASCII
      string: id=1429943656153088&key=ha2aWXsDEYoaH5ZRRbAAL57s2HUZsHZ3&nonce=163794410078&signature=2253979F8C66DE24C0B37F7B5F91AB48998BFE4DCFA64C14B85C53A6C7094EA6
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 26 Nov 2021 16:28:21 GMT
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-61a10b25-39d271315b58c65714039d4e
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 2-43390806-43389469 PNNy RT(1637944101438 32) q(0 0 0 0) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '{"status": "Open", "id": 1429943656153088, "amount_remaining": "0.00050000",
        "transactions": []}'
  recorded_at: Fri, 26 Nov 2021 16:28:21 GMT
recorded_with: VCR 6.0.0
