---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/btcusd/
    body:
      encoding: US-ASCII
      string: key=3nJKF5X1wm0kb9xxoicWt9wCegji1DiC&nonce=1487005355&signature=4DDF312A75CF08EBEE498504690F073BD606EAE4EE74AD9BC463F64FA68109A6
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 13 Feb 2017 17:02:36 GMT
      X-Iinfo:
      - 3-3740334-3694821 PNNN RT(1487005355906 47) q(0 0 0 -1) r(0 0) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"price": "1025.00", "amount": "0.02000000", "type": "1", "id": "185891916",
        "datetime": "2017-02-13 16:50:05"}, {"price": "950.00", "amount": "0.02000000",
        "type": "0", "id": "185891873", "datetime": "2017-02-13 16:49:44"}]'
  recorded_at: Mon, 13 Feb 2017 17:02:36 GMT
recorded_with: VCR 3.0.3
