---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/btcusd/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth:
      - BITSTAMP H3iK98mcBMSax81GvdpZEIrLHneYODQK
      X-Auth-Nonce:
      - e8cecf20-0da6-404c-84f9-01b6475aa3cc
      X-Auth-Timestamp:
      - '1658497475500'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 5C538A0C47062F8AB1427DC2ED016C6CA1C7615FEB73D4C9331430B645DE885E
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - d4c0eb7ca0424662a47843aa3a542ed45fe2bc7ad14b38c8e5309a4fbdf9765a
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-62daa9c3-2b79215776916b01745c8d81
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 12-27288958-27288961 NNNN CT(2 1 0) RT(1658497474840 29) q(0 0 0 0) r(0 0)
        U6
    body:
      encoding: ASCII-8BIT
      string: '[{"price": "24000.00", "datetime": "2022-07-22 13:12:37", "amount":
        "0.00050000", "amount_at_create": "0.00050000", "type": "1", "id": "1514129748602880"},
        {"price": "23000.00", "datetime": "2022-07-22 13:09:43", "amount": "0.00050000",
        "amount_at_create": "0.00050000", "type": "0", "id": "1514129036304385"}]'
  recorded_at: Fri, 22 Jul 2022 13:44:35 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/order_status/
    body:
      encoding: US-ASCII
      string: id=1514129748602880
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Auth:
      - BITSTAMP H3iK98mcBMSax81GvdpZEIrLHneYODQK
      X-Auth-Nonce:
      - 55430f0e-2b81-43bd-afd6-70027f96ec06
      X-Auth-Timestamp:
      - '1658497475697'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 00D4231EC9A935CAE70DF91CD21BB806B01567B8CCE8C54AC0B0033F70549F3E
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - 662aaa41dcd54bf422564b6afc358de67eb815ac054975c2774ddd3a92fde14f
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-62daa9c3-5c2943173ca2050303100a82
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 8-4716665-4716666 NNNN CT(1 1 0) RT(1658497474942 29) q(0 0 0 0) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '{"status": "Open", "id": 1514129748602880, "amount_remaining": "0.00050000",
        "transactions": []}'
  recorded_at: Fri, 22 Jul 2022 13:44:35 GMT
recorded_with: VCR 6.1.0
