---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/btcusd/
    body:
      encoding: US-ASCII
      string: key=1UiYqsdEoZrxqfDog4ReV5jwYkDtbR7q&nonce=1487317237&signature=A3A137007206E7BF3E9DE25645891BDF8BBC11F550DA40F33162E11CB06FB22A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 17 Feb 2017 07:40:38 GMT
      X-Iinfo:
      - 9-26640222-26612949 PNNN RT(1487317238128 37) q(0 0 0 0) r(0 0) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"price": "1100.00", "amount": "0.02380000", "type": "1", "id": "187006931",
        "datetime": "2017-02-17 07:39:03"}]'
  recorded_at: Fri, 17 Feb 2017 07:40:38 GMT
- request:
    method: post
    uri: https://www.bitstamp.net/api/order_status/
    body:
      encoding: US-ASCII
      string: id=187006931&key=1UiYqsdEoZrxqfDog4ReV5jwYkDtbR7q&nonce=1487317238&signature=8BB651515BCE97500FD0FC9E448F0406048312446596F8DBFC45195A32E3531E
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 17 Feb 2017 07:40:39 GMT
      X-Iinfo:
      - 9-26640452-26575342 PNNN RT(1487317239248 39) q(0 0 0 0) r(1 1) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"status": "Open", "transactions": []}'
  recorded_at: Fri, 17 Feb 2017 07:40:39 GMT
recorded_with: VCR 3.0.3
