---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/btcusd/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth:
      - BITSTAMP H3iK98mcBMSax81GvdpZEIrLHneYODQK
      X-Auth-Nonce:
      - e808e546-7714-4b7d-8589-b3104e53983d
      X-Auth-Timestamp:
      - '1658496312686'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 4F1A8E51BF3A9B4F0EB5C868AE6D9EF1CE5B0B67006381CB085F18E7E4C4BC48
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - fc64a4034ffcf267d0b866736dd2856dc28fbca267b6c93c45134f39cc822051
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-62daa539-40e784100a4c2c262b11fb70
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-34638420-34635430 PNNy RT(1658496312002 178) q(0 0 0 -1) r(1 1) U6
    body:
      encoding: ASCII-8BIT
      string: '[{"price": "24000.00", "datetime": "2022-07-22 13:12:37", "amount":
        "0.00050000", "amount_at_create": "0.00050000", "type": "1", "id": "1514129748602880"},
        {"price": "23000.00", "datetime": "2022-07-22 13:09:43", "amount": "0.00050000",
        "amount_at_create": "0.00050000", "type": "0", "id": "1514129036304385"}]'
  recorded_at: Fri, 22 Jul 2022 13:25:13 GMT
recorded_with: VCR 6.1.0
