---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/btcusd/
    body:
      encoding: US-ASCII
      string: key=ha2aWXsDEYoaH5ZRRbAAL57s2HUZsHZ3&nonce=163794236812&signature=7E28918638DC08238B29300E2883BA31B980FEB0AB3C216897BCE9DCB47D46C0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 26 Nov 2021 15:59:29 GMT
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-61a10461-60b89ca0731fb3087f6bca5b
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-135447762-135446953 PNNN RT(1637942368781 42) q(0 0 0 2) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '[{"price": "55000.00", "amount": "0.00050000", "type": "1", "id": "1429943656153088",
        "datetime": "2021-11-26 15:58:32"}, {"price": "53000.00", "amount": "0.00050000",
        "type": "0", "id": "1429943573118981", "datetime": "2021-11-26 15:58:12"}]'
  recorded_at: Fri, 26 Nov 2021 15:59:29 GMT
recorded_with: VCR 6.0.0
