---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/open_orders/
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Auth:
      - BITSTAMP hpDlsj3dfcsZ2tEzhC1V95GCVJzZP0iJ
      X-Auth-Nonce:
      - c1291d59-6b95-48d6-9001-7f8614a0d7fc
      X-Auth-Timestamp:
      - '1710774110146'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - E9B98B90DE7C8653DFA8EEBC6403F88A9ECF9C0126B0CCA57B5BFCEFF15729F5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - 36aebd847f20321dd4961df10101444c21a85bbed558f054923756428678fc00
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-65f8575e-73afb5c309ac467d17757531
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-228222292-228212738 PNNy RT(1710774110183 21) q(0 0 0 -1) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '[{"id": "1728262007779328", "datetime": "2024-03-18 14:59:01", "type":
        "1", "price": "80000", "amount": "0.00050000", "amount_at_create": "0.00050000",
        "currency_pair": "BTC/USD", "market": "BTC/USD"}, {"id": "1728261652815877",
        "datetime": "2024-03-18 14:57:34", "type": "0", "price": "50000", "amount":
        "0.00050000", "amount_at_create": "0.00050000", "currency_pair": "BTC/USD",
        "market": "BTC/USD"}]'
  recorded_at: Mon, 18 Mar 2024 15:01:50 GMT
recorded_with: VCR 6.2.0
