---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/transactions/btcusd/?time=minute
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-65f9a679-78334cb108f9ca4656ad7820
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 10-7374215-7361435 2NNN RT(1710859897435 23) q(0 0 0 -1) r(0 0)
    body:
      encoding: ASCII-8BIT
      string: '[{"amount": "0.00047960", "date": "1710859896", "price": "62879", "tid":
        "328534803", "type": "0"}, {"amount": "0.00614000", "date": "1710859891",
        "price": "62900", "tid": "328534787", "type": "0"}, {"amount": "0.00030909",
        "date": "1710859889", "price": "62921", "tid": "328534779", "type": "0"},
        {"amount": "0.02852663", "date": "1710859888", "price": "62941", "tid": "328534773",
        "type": "0"}, {"amount": "0.00794621", "date": "1710859888", "price": "62940",
        "tid": "328534772", "type": "0"}, {"amount": "0.14250000", "date": "1710859888",
        "p[...]
