---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/transactions/btcusd/?time=hour
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      X-Iinfo:
      - 1-1323944-1323066 PNNN RT(1486989877232 45) q(0 0 0 0) r(0 0) U1
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '[{"date": "1486989854", "tid": "13322326", "price": "994.56", "type":
        "1", "amount": "0.02600000"}, {"date": "1486989799", "tid": "13322325", "price":
        "997.98", "type": "0", "amount": "0.00896281"}, {"date": "1486989799", "tid":
        "13322324", "price": "997.56", "type": "0", "amount": "0.01211958"}, {"date":
        "1486989799", "tid": "13322323", "price": "997.12", "type": "0", "amount":
        "0.07723244"}, {"date": "1486989709", "tid": "13322317", "price": "997.12",
        "type": "0", "amount": "0.02514659"}, {"date": "1486989585", "tid": "13322316",
      [...]
