---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/transactions/btcusd/?time=hour
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 11-70839520-70836722 2CNN RT(1636646525339 24) q(0 0 0 -1) r(0 0)
    body:
      encoding: ASCII-8BIT
      string: '[{"date": "1636646521", "tid": "207338988", "amount": "0.47000000",
        "type": "0", "price": "64811.41"}, {"date": "1636646521", "tid": "207338987",
        "amount": "0.10000000", "type": "0", "price": "64810.53"}, {"date": "1636646517",
        "tid": "207338975", "amount": "0.00700000", "type": "1", "price": "64774.80"},
        {"date": "1636646513", "tid": "207338973", "amount": "0.00079000", "type":
        "0", "price": "64783.49"}, {"date": "1636646513", "tid": "207338971", "amount":
        "0.00700000", "type": "1", "price": "64782.99"}, {"date": "1636646509", "tid":
        [...]
