---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/transactions/btcusd/?time=hour
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 12-7493618-7493509 2CNN RT(1658332818194 32) q(0 0 0 1) r(0 0)
    body:
      encoding: ASCII-8BIT
      string: '[{"date": "1658332811", "tid": "241697316", "amount": "0.14479000",
        "type": "0", "price": "24181.24"}, {"date": "1658332787", "tid": "241697252",
        "amount": "0.01135000", "type": "0", "price": "24185.53"}, {"date": "1658332784",
        "tid": "241697234", "amount": "0.00500000", "type": "0", "price": "24186.70"},
        {"date": "1658332781", "tid": "241697231", "amount": "0.12123335", "type":
        "0", "price": "24191.20"}, {"date": "1658332781", "tid": "241697230", "amount":
        "0.14474861", "type": "0", "price": "24190.07"}, {"date": "1658332749", "tid":
        [...]
