---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/sell/btcusd/
    body:
      encoding: US-ASCII
      string: amount=0.0005&price=80000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Auth:
      - BITSTAMP hpDlsj3dfcsZ2tEzhC1V95GCVJzZP0iJ
      X-Auth-Nonce:
      - e3440cbf-c901-4b57-a9b8-80608491dddb
      X-Auth-Timestamp:
      - '1710773941296'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 35846B5B821459152866C5ECEDABC9567BAFD25E0C0F3D30C190A264C5EED50D
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - 1c9c440b3d36e784cc9f985e008580a09ea0f54ac0002a5e1a8244d436a86cd0
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-65f856b5-78f84a06141c1ae62caa6469
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 14-238299840-238280702 PNNy RT(1710773941335 18) q(0 0 0 -1) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '{"id": "1728262007779328", "market": "BTC/USD", "datetime": "2024-03-18
        14:59:01.400000", "type": "1", "amount": "0.00050000", "price": "80000"}'
  recorded_at: Mon, 18 Mar 2024 14:59:01 GMT
recorded_with: VCR 6.2.0
