---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/sell/btcusd/
    body:
      encoding: US-ASCII
      string: amount=0.0005&price=24000
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Auth:
      - BITSTAMP H3iK98mcBMSax81GvdpZEIrLHneYODQK
      X-Auth-Nonce:
      - 98f7b14b-340d-4d51-968d-c49ee27165ff
      X-Auth-Timestamp:
      - '1658495557622'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - A3478DC925E1279B143DDA397AFE42DC840DFA03AC3283D01D59EA425E8C5A8D
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - 5185a21543f1c433fe71ebe585f53230266a1ea9bca67b21e05bc36727694090
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-62daa245-512c5ebb3ce3bd817905ae9f
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 6-1955503-1955505 NNNY CT(1 1 0) RT(1658495556924 27) q(0 0 0 -1) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '{"price": "24000.00", "amount": "0.00050000", "type": "1", "id": "1514129748602880",
        "datetime": "2022-07-22 13:12:37.812000"}'
  recorded_at: Fri, 22 Jul 2022 13:12:37 GMT
recorded_with: VCR 6.1.0
