---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/sell/btcusd/
    body:
      encoding: US-ASCII
      string: amount=0.02&price=1050&key=3nJKF5X1wm0kb9xxoicWt9wCegji1DiC&nonce=1487018603&signature=399604486916F59D23B82E16598EA31EBFB0FA182910A5EA45CE3A6CF5D19AB8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 13 Feb 2017 20:43:25 GMT
      X-Iinfo:
      - 8-8255535-8241925 PNNN RT(1487018604293 44) q(0 0 0 -1) r(0 0) U6
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"price": "1050.00", "amount": "0.02000000", "type": "1", "id": "185941648",
        "datetime": "2017-02-13 20:43:25.073693"}'
  recorded_at: Mon, 13 Feb 2017 20:43:25 GMT
recorded_with: VCR 3.0.3
