---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/sell/btcusd/
    body:
      encoding: US-ASCII
      string: amount=0.0005&price=55000&key=ha2aWXsDEYoaH5ZRRbAAL57s2HUZsHZ3&nonce=163794231138&signature=C84E8F293BCA2020541235949EE9CE1FC322DD07D982122FC517BA9CD9A1206A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 26 Nov 2021 15:58:32 GMT
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-61a10428-4e943ccc78bf0bc679a0da6c
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 3-74672296-74672305 NNNY CT(22 21 0) RT(1637942311805 34) q(0 0 0 0) r(1 1)
        U6
    body:
      encoding: ASCII-8BIT
      string: '{"price": "55000.00", "amount": "0.00050000", "type": "1", "id": "1429943656153088",
        "datetime": "2021-11-26 15:58:32.585000"}'
  recorded_at: Fri, 26 Nov 2021 15:58:32 GMT
recorded_with: VCR 6.0.0
