---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/btcusd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3018875478"'
      Last-Modified:
      - Wed, 20 Jul 2022 11:27:28 GMT
      Content-Type:
      - application/json
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-5626715-5627499 2CNN RT(1658316446440 3710) q(0 0 0 0) r(0 0)
    body:
      encoding: ASCII-8BIT
      string: '{"high": "23889.16", "last": "23664.08", "timestamp": "1658316448",
        "bid": "23653.00", "vwap": "23147.05", "volume": "4270.19817072", "low": "21915.52",
        "ask": "23664.08", "open": "23392.04"}'
  recorded_at: Wed, 20 Jul 2022 11:27:30 GMT
recorded_with: VCR 6.1.0
