---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/btcusd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"67716-b3-548665cec1994"'
      Last-Modified:
      - Mon, 13 Feb 2017 09:49:26 GMT
      Content-Type:
      - application/json
      X-Iinfo:
      - 9-541749-0 0CNN RT(1486979368960 59) q(0 -1 -1 0) r(0 -1)
      X-Cdn:
      - Incapsula
    body:
      encoding: ASCII-8BIT
      string: '{"high": "1010.99", "last": "992.16", "timestamp": "1486979366", "bid":
        "990.11", "vwap": "996.20", "volume": "3551.86141636", "low": "975.10", "ask":
        "992.16", "open": "1000.73"}'
  recorded_at: Mon, 13 Feb 2017 09:49:29 GMT
recorded_with: VCR 3.0.3
