---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/btcusd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4151917245"'
      Last-Modified:
      - Thu, 11 Nov 2021 15:46:29 GMT
      Content-Type:
      - application/json
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 5-54893971-54893094 2CNN RT(1636645589519 26) q(0 0 0 0) r(0 0)
    body:
      encoding: ASCII-8BIT
      string: '{"high": "68800.01", "last": "64902.25", "timestamp": "1636645588",
        "bid": "64888.36", "vwap": "65443.20", "volume": "3438.37163886", "low": "62856.71",
        "ask": "64910.64", "open": "64919.18"}'
  recorded_at: Thu, 11 Nov 2021 15:46:29 GMT
recorded_with: VCR 6.0.0
