---
http_interactions:
- request:
    method: get
    uri: https://www.bitstamp.net/api/v2/ticker/btcusd/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3750446345"'
      Last-Modified:
      - Tue, 19 Mar 2024 13:56:02 GMT
      Content-Type:
      - application/json
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 8-4379384-4379046 2CNN RT(1710856563309 16) q(0 0 0 19) r(0 0)
    body:
      encoding: ASCII-8BIT
      string: '{"timestamp": "1710856561", "open": "67603", "high": "68123", "low":
        "62443", "last": "63336", "volume": "4304.28916156", "vwap": "65444", "bid":
        "63337", "ask": "63345", "side": "1", "open_24": "67591", "percent_change_24":
        "-6.30"}'
  recorded_at: Tue, 19 Mar 2024 13:56:03 GMT
recorded_with: VCR 6.2.0
