---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/user_transactions/
    body:
      encoding: US-ASCII
      string: offset=0&limit=2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Auth:
      - BITSTAMP hpDlsj3dfcsZ2tEzhC1V95GCVJzZP0iJ
      X-Auth-Nonce:
      - dd576da2-acc5-4737-b422-8c5f882c595f
      X-Auth-Timestamp:
      - '1710776797836'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 3AEA520F1C2EE15F59DFD96A28ECCDC76912321B16F09110E9C2E2EF40F5EE1F
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - 92648da73bfcbcb9bd17c433831b4086799bbf4cc81c5bbf4d2f69ab30a3c7d8
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-65f861dd-5fd81a3a7c8297de3a055a24
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 3-27439802-27437586 PNNy RT(1710776797864 22) q(0 0 0 3) r(1 1) U6
    body:
      encoding: ASCII-8BIT
      string: '[{"id": 328165032, "datetime": "2024-03-18 15:45:07.475000", "type":
        "2", "fee": "0.13464", "btc": "-0.00050000", "usd": "33.659", "btc_usd": 67318.00000000,
        "eur": 0.0, "order_id": 1728273337618434}, {"id": 328164894, "datetime": "2024-03-18
        15:44:07.964000", "type": "2", "fee": "0.13464", "btc": "0.00050000", "usd":
        "-33.661", "btc_usd": 67322.00000000, "eur": 0.0, "order_id": 1728273093865474}]'
  recorded_at: Mon, 18 Mar 2024 15:46:37 GMT
recorded_with: VCR 6.2.0
