---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/user_transactions/
    body:
      encoding: US-ASCII
      string: offset=0&limit=2&key=ha2aWXsDEYoaH5ZRRbAAL57s2HUZsHZ3&nonce=163794453921&signature=8F461985C172A09434BF6A6B97F18938F3089EBE6D6EE3A8BE16B4328765E7D5
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 26 Nov 2021 16:35:40 GMT
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-61a10cdc-774f71535a185ef108701a5b
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 7-106314949-106306801 PNNy RT(1637944539668 48) q(0 0 0 -1) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '[{"usd": "-27.50", "btc_usd": 55000.00000000, "order_id": 1429194368086017,
        "datetime": "2021-11-26 08:37:52.735000", "fee": "0.13750", "btc": "0.00050000",
        "type": "2", "id": 210057823, "eur": 0.0}, {"usd": "28.50", "btc_usd": 57000.00000000,
        "order_id": 1429194707623938, "datetime": "2021-11-24 15:50:46.678000", "fee":
        "0.14250", "btc": "-0.00050000", "type": "2", "id": 209752784, "eur": 0.0}]'
  recorded_at: Fri, 26 Nov 2021 16:35:40 GMT
recorded_with: VCR 6.0.0
