---
http_interactions:
- request:
    method: post
    uri: https://www.bitstamp.net/api/v2/user_transactions/
    body:
      encoding: US-ASCII
      string: offset=0&limit=2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      X-Auth:
      - BITSTAMP H3iK98mcBMSax81GvdpZEIrLHneYODQK
      X-Auth-Nonce:
      - 9e32aff9-8e70-4ca0-a5a8-e4a5b717bba8
      X-Auth-Timestamp:
      - '1658830416577'
      X-Auth-Version:
      - v2
      X-Auth-Signature:
      - 1B61590C082F4D175FBA8C649B4B9968780F774BDACD8E34CC86CF13A6C00860
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server-Auth-Signature:
      - c2004e2c2e479dade62e24d4c9fdbe4bdbd30d2e5149e4dc3d2a96c804d6a630
      Content-Language:
      - en
      X-Bts-Request-Trace-Id:
      - Root=1-62dfbe51-7066e8917e5dbfe60405d2c2
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 13-113209726-113207975 PNNy RT(1658830415913 255) q(0 0 0 1) r(0 0) U6
    body:
      encoding: ASCII-8BIT
      string: '[{"usd": "21.11364", "btc_usd": 21113.64000000, "order_id": 1515500897337344,
        "datetime": "2022-07-26 10:11:50.921000", "fee": "0.00000", "btc": "-0.00100000",
        "type": "2", "id": 242306395, "eur": 0.0}, {"usd": "-21.12798", "btc_usd":
        21127.98000000, "order_id": 1515500670201856, "datetime": "2022-07-26 10:10:55.468000",
        "fee": "0.00000", "btc": "0.00100000", "type": "2", "id": 242306262, "eur":
        0.0}]'
  recorded_at: Tue, 26 Jul 2022 10:13:36 GMT
recorded_with: VCR 6.1.0
